{
  "data_dir": "/var/lib/consul",
  "log_level": "DEBUG",
  "server": true,
  "bind_addr": "127.0.0.1",
  "client_addr": "0.0.0.0",
  "bootstrap_expect": 1,
  "retry_join": ["localhost"],
  "disable_update_check": true,
  "datacenter": "{{ hashistack_dc }}"
}
