region = "{{ hashistack_region }}"
datacenter = "{{ hashistack_dc }}"
bind_addr = "0.0.0.0"
log_level = "INFO"
data_dir = "/var/lib/nomad"
disable_update_check = true
server {
    enabled = true
    bootstrap_expect = 1
}
