job "hashistack-system-proxy" {
  region      = "{{ hashistack_region | default("region1") }}"
  datacenters = ["{{ hashistack_dc | default("dc1") }}"]
  type        = "service"

  constraint {
    attribute = "${meta.hashistack_system_roles}"
    set_contains = "edge-proxy"
  }

  group "proxy" {
    count = 1

    task "traefik" {
      driver = "docker"

      config {
        image = "traefik:1.7.2"

        args = [
          "--entrypoints=Name:https Address:0.0.0.0:443 TLS",
          "--entrypoints=Name:http Address:0.0.0.0:80 Redirect.EntryPoint:https",
          "--entrypoints=Name:dashboard Address:0.0.0.0:8080",
          "--accesslogsfile=/dev/stdout",
          "--api",
          "--api.dashboard",
          "--api.entrypoint=dashboard",
          "--debug",
          "--consulcatalog",
          "--consulcatalog.endpoint=172.17.0.1:8500",
          "--consulcatalog.constraints=tag==public",
          "--acme.httpchallenge",
          "--acme.storage=/var/lib/traefik-acme/acme.json",
          "--acme.email=m@mayeu.me",
          "--acme.onhostrule",
          "--acme.acmelogging",
          "--acme.entrypoint=https",
          "--acme.httpchallenge",
          "--acme.httpchallenge.entrypoint=http",
          "--acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory",
        ]

        volumes = ["/data/hashistack/system/proxy/acme:/var/lib/traefik-acme"]

        network_mode = "host"
      }

      resources {
        cpu    = 200 # Mhz
        memory = 50  # MB

        network {
          mbits = 10
        }
      }
    }
  }
}
